Citadel/Intermediate/
Citadel/Saved/
*/Saved/
*/Intermediate/
Citadel/Config/DefaultEngine.ini
Citadel/Intermediate/*
Citadel/Saved/*
Citadel/Build/
Citadel/Build/*


Citadel/Content/Weapons_Kit_BuiltData.uasset
Citadel.zip
Citadel/Content/GenericNPCAnimPack/SourceFiles.zip
