Citadel/Intermediate/
Citadel/Saved/
*/Saved/
*/Intermediate/
Citadel/Config/DefaultEngine.ini
Citadel/Intermediate/*
Citadel/Saved/*
Citadel/Build/
Citadel/Build/*


Citadel/Content/Weapons_Kit_BuiltData.uasset
Citadel.zip
Citadel/Content/GenericNPCAnimPack/SourceFiles.zip
Citadel/Content/Weapon_Pack/Map/Weapons_Kit_BuiltData.uasset
Old_Project/
Citadel_Project/Content/MobileStarterContent/Maps/StarterMap_BuiltData.uasset
